.pushArea{padding-bottom:35px}
.pushArea.delete .pushDelete{
    -webkit-transform: translate3d(0,56px,0);
    transform: translate3d(0,56px,0);
}
.pushArea.delete .pushRadioSel{margin-top:-47px}
.pushArea.delete .pushList li .select{display:block}

.pushRadioSel{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-pack:justify;padding:16px 12px;transition: margin 300ms ease-in}
.pushRadioSel li{position:relative;-webkit-box-flex:1;-webkit-flex:1;flex:1;padding:0 4px}
.pushRadioSel li label{display:block;height:38px;padding:0;-webkit-border-radius:20px;border-radius:20px;border:1px solid rgba(0,0,0,.47);text-align:center;line-height:38px}
.pushRadioSel li input{position:absolute;top:0;left:0;width:100%;height:100%}
.pushRadioSel li.checked label{background-color:#7f6ee3;border-color:transparent;color:#fff;
    -webkit-box-shadow:0 6px 6px 0 rgba(127,110,227,.24), 0 0 6px 0 rgba(127, 110, 227, .12);
    box-shadow:0 6px 6px 0 rgba(127,110,227,.24), 0 0 6px 0 rgba(127, 110, 227, .12);
}
.pushRadioSel li .num{position:absolute;top:-4px;right:0;display:block;width:18px;height:18px;-webkit-border-radius:9px;border-radius:9px;background-color:#f76900;color:#fff;text-align:center;font-size:12px;line-height:18px}
.ios .pushRadioSel li .num{line-height:20px}

.pushResult{overflow:hidden;padding:8px 16px;background-color:#f2f2f2}
.pushResult .all{float:left;font-size:14px;line-height:24px;color:rgba(0,0,0,.6)}
.pushResult .delete{float:right;padding-left:28px;background:url('https://img1.kbcard.com/LT/cxh/kbcard_img/common/ico/basic/24/ico_trash_24.png') no-repeat 0 50%;background-size:24px;font-size:14px;line-height:24px;opacity:.6}

.pushDelete{position:fixed;top:0;left:0;z-index:10;width:100%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-pack:justify;background-color:#fff;
    transition: -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
}
.pushDelete button{position:relative;-webkit-box-flex:1;-webkit-flex:1;flex:1;height:56px;background-color:rgba(0,0,0,.87);color:#fff;vertical-align:middle}
.pushDelete button:before{content:'';display:inline-block;vertical-align:top;width:24px;height:24px;margin-right:4px;background-size:24px;transition:opacity 300ms ease-in}
.pushDelete button.close:before{background-image:url('https://img1.kbcard.com/LT/cxh/kbcard_img/common/ico/basic/24/ico_close_24_fff.png')}
.pushDelete button.check:before{background-image:url('https://img1.kbcard.com/LT/cxh/kbcard_img/common/ico/basic/24/ico_check_24_fff.png')}
.pushDelete button.trash:before{background-image:url('https://img1.kbcard.com/LT/cxh/kbcard_img/common/ico/basic/24/ico_trash_24_fff.png')}
.pushDelete button:after{content:'';position:absolute;top:50%;right:0;width:1px;height:32px;margin-top:-16px;background-color:rgba(255,255,255,.24)}
.pushDelete button:last-child:after{display:none}
.pushDelete button span{display:inline-block;font-size:16px;line-height:24px;transition:opacity 300ms ease-in}
.pushDelete button:disabled span, .pushDelete button:disabled:before{opacity:.6}
.ios .pushDelete button span{margin-top:2px}

.pushList{padding-left:48px;font-size:14px;line-height:20px}
.pushList li{position:relative;padding:16px 16px 32px 0;border-bottom:1px solid rgba(0,0,0,.16)}
.pushList li:before{content:'';position:absolute;top:16px;left:-32px;width:24px;height:24px;background-size:24px}
.pushList li .tit{display:block;margin-bottom:4px;font-size:16px;line-height:24px}
.pushList li .date{color:rgba(0,0,0,.47)}
.pushList li .cont{overflow:hidden;display:-webkit-box;display:box;-webkit-line-clamp:3;line-clamp:3;-webkit-box-orient:vertical;box-orient:vertical;min-height:120px;margin-top:16px;transition:height 500ms ease-in-out}
.pushList li .banner{display:block;margin-top:16px}
.pushList li .banner img{width:100%;height:auto;vertical-align:top}
.pushList li .eventBtn{margin-top:16px}
.pushList li .btnToggle{position:absolute;top:0;right:0;width: 100%;height:64px;text-align:right}
.pushList li .btnToggle a{display:inline-block;width:56px;height:64px;vertical-align:top}
.pushList li .btnToggle a:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%}
.pushList li .select{display:none}
.pushList li .select input[type="checkbox"]{position:absolute;top:16px;right:16px}
.pushList li .select label{position:absolute;top:0;left:0;width:100%;height:100%;font-size:1px;color:transparent}

.pushList.payment li .cont{display:block;max-height:none}
.pushList.payment li:before{background-image:url('https://img1.kbcard.com/LT/cxh/kbcard_img/common/ico/basic/24/ico_payment.png')}
.pushList.info li:before{background-image:url('https://img1.kbcard.com/LT/cxh/kbcard_img/common/ico/basic/24/ico_info.png')}
.pushList.notice li:before{background-image:url('https://img1.kbcard.com/LT/cxh/kbcard_img/common/ico/basic/24/ico_noti.png')}
.pushList.event li:before{background-image:url('https://img1.kbcard.com/LT/cxh/kbcard_img/common/ico/basic/24/ico_event.png')}
.ios .pushList li:before{top:14px}

.pushEvent{overflow:hidden;position:fixed;bottom:-96px;z-index:9001;width:100%;-webkit-border-top-left-radius:16px;-webkit-border-top-right-radius:16px;border-top-left-radius:16px;border-top-right-radius:16px;background-color:#7f6ee3}
.pushEvent .title{position:relative}
.pushEvent .title h2{height:56px;padding:0 16px;font-size:16px;line-height:56px;color:#fff}
.pushEvent .title a{position:absolute;top:0;right:0;width:56px;height:56px}
.pushEvent .title a:after{content:'';position:absolute;top:0;right:0;width:700%;height:100%}

.puchEventCont{overflow:hidden;-webkit-border-top-left-radius:16px;-webkit-border-top-right-radius:16px;border-top-left-radius:16px;border-top-right-radius:16px;background-color:#fff}
.puchEventCont .btn{padding:16px 16px 32px 16px}
.puchEventCont .eventList{height:0}

.eventList{overflow-y:scroll;padding-left:16px}
.eventList li{border-bottom:1px solid rgba(0,0,0,.16)}
.eventList li a{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;-webkit-box-align:center;padding:16px 16px 16px 0}
.eventList li .txt{display:block;-webkit-box-flex:1;-webkit-flex:1;flex:1;padding-right:16px}
.eventList li .txt .tit{display:block;font-weight:normal}
.eventList li .txt .date{display:block;margin-top:8px;font-size:14px;line-height:20px;color:rgba(0,0,0,.6)}
.eventList li .thum{display:block;width:80px;height:80px}
.eventList li .thum img{width:100%;height:auto}

.pushArea .infoBox.notImg{position:absolute;top:128px;bottom:0;left:0;right:0;z-index:9002;padding-top:128px;background-color:#f2f2f2;color:rgba(0,0,0,.47)}
.pushArea .infoBox.notImg .pushInfo{color:rgba(0,0,0,.87);background-color:#f2f2f2}
.pushArea .infoBox.notImg .bottomArea{position:absolute;bottom:0;left:0;width:100%;padding-bottom:32px;box-sizing:border-box}

.pushInfo{position:absolute;top:50%;left:50%;width:300px;margin-left:-150px;margin-top:-180px;text-align:center}
.pushInfo > img{vertical-align:top;margin-bottom:24px}
.pushInfo p img{vertical-align:text-bottom}
.ios .pushInfo p img{vertical-align:top}

/* ���ͷ��� UI */
.toggleUI span{position:relative;display:block;width:100%;height:100%;font-size:1px;color:transparent;
    transition: -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 600ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1),transform-origin 600ms cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.toggleUI span:before{right:50%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg)
}
.toggleUI span:after{left:50%;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg)
}
.toggleUI span:before, .toggleUI span:after{content: '';position:absolute;top:50%;width:9px;height:1px;margin-top:3px;background-color:rgba(0,0,0,.87);
    transition: -webkit-transform 600ms cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 600ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1),transform-origin 600ms cubic-bezier(0.86, 0, 0.07, 1)
}

.toggleUI.up span{
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px)
}
.toggleUI.up span:before{
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg)
}
.toggleUI.up span:after{
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg)
}
.toggleUI.white span:before, .toggleUI.white span:after{background-color:#fff}

/*.inp1:before, .inp1:after{content:'';position:absolute;height:2px;background-color:red}
.inp1:before{width:8px; top: 12px; left: 4px; transform: rotate(48deg)}
.inp1:after{width: 12px; top: 11px; right: 4px; transform: rotate(-46deg)}*/